In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/london-bike-sharing-dataset/london_merged.csv

In [2]:
# read the csv file as a pandas dataframe

bikes = pd.read_csv('/kaggle/input/london-bike-sharing-dataset/london_merged.csv')

In [3]:
# Explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
bikes.shape

(17414, 10)

In [5]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
# Count the unique values in the weather_code column

bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [7]:
# Count the unique values in the season column

bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [8]:
# Specifying the column names i want to use
new_col_dict = {'timestamp' : 'time',
                'cnt' : 'count',
                't1':'temp_real_C',
                't2':'temp_feels_like_C',
                'hum':'humidity_percent',
                'wind_speed': 'wind_speed_kph',
                'weather_code':'weather',
                'is_holiday':'is_holiday',
                'is_weekend':'is_weekend',
                'season':'season'
               }

# Renaming the columns to specific column names
bikes.rename(new_col_dict,axis = 1,inplace = True)

In [9]:
# changing the humidity values to percentage (i.e. value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent/100

In [10]:
# Creating a season dictionary so that we can map the integers 0-3 to the actual written values

season_dict = {'0.0':'spring',
              '1.0':'summer',
              '2.0':'autumn',
              '3.0':'winter'}

# Creating a weather dictionary so that we can map the integers to the actual written values

weather_dict = {'1.0':'Clear',
               '2.0':'Scattered coluds',
               '3.0':'Broken clouds',
               '4.0':'Cloudy',
               '7.0':'Rain',
               '10.0':'Rain with thunderstorms',
               '26.0':'Snowfall'}

# Changing the season column data type to string
bikes.season = bikes.season.astype('str')

# Mapping the values 0-3 to the actual written seasons
bikes.season = bikes.season.map(season_dict)

# Changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')

# Mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [11]:
# Checking the dataframe to see if the mapping have worked
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [12]:
# Writing the final dataframe yo an excel file that we will use in the tableau visualizations.
bikes.to_excel('london_bikes_final.xlsx',sheet_name = 'Data')

In [13]:
# Accesing the newmade Excel file.
from IPython.display import FileLink
FileLink(r'london_bikes_final.xlsx')

/kaggle/working/london_bikes_final.xlsx